<mat-form-field>
  <mat-label>Cities</mat-label>
  <input type="text"
         placeholder="Text a city"
         aria-label="Number"
         matInput
         [formControl]="searchControl"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let item of items"
      [value]="item.name"
      (onSelectionChange)="select(item.lat, item.lon)">
      <u>{{item.country}}</u> | <i>{{item.region}}</i> | <b>{{item.name}}</b>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
